{% extends "base/dashboard.html" %}

{% block body %}
<h1>Experiment lifecycle dashboard</h1>

    <h2>Shut down experiment</h2>
    <pre id="destroy-command">dallinger destroy --app {{ heroku_app_id }}</pre>
    <button class="copy-button btn btn-primary"
            data-clipboard-target="#destroy-command"
            data-toggle="popover">Copy</button>

    <h2>Export data</h2>
    <pre id="export-command">dallinger export --app {{ heroku_app_id }}</pre>
    <button class="copy-button btn btn-primary"
            data-clipboard-target="#export-command"
            data-toggle="popover">Copy</button>

{% endblock %}

{% block scripts %}

<script>
    clipboard = new ClipboardJS('.copy-button');
    $('[data-toggle="popover"]').popover({content: "Dallinger CLI command copied!"});
</script>

{% endblock %}
