{% extends "base/dashboard.html" %}
{% block stylesheets %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
  <link href="https://unpkg.com/vis@4.17.0/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<div id="monitor-wrapper" class="d-flex justify-content-between align-items-stretch">
  <aside id="sidebar">
    <button id="refresh" onclick="window.location.reload();">Refresh</button>
    <div id="statistics-pane" class="sidebar-pane">
      <h2>Statistics</h2>
      {% for pane in panes %}
        <div class="sub-pane">
          <h3>{{ pane }}</h3>
          {{ panes[pane]|safe }}
        </div>
      {% endfor %}
    </div>
    <div id="settings-pane" class="sidebar-pane">
      <h2>Settings</h2>
      <form method="GET">
        <input name="transformations" type="checkbox" {{ "checked" if request.args.get("transformations") else "" }}/>
        <label for="transformations">Show transformations</label>
      </form>
    </div>
  </aside>
  <main class="flex-fill">
    <section id="mynetwork">
      <h2>Graph</h2>
    </section>
    <section id="details-pane">
      <h2>Details</h2>
      <div id="element-details">
      </div>
    </section>
  </main>
  </div>
{% endblock %}
{% block libs %}
  {{ super() }}
  <script>
    $('#settings-pane input').on('change', function() {
      $(this).parent('form').submit();
    });
    window.network_structure = {{ network_structure | safe }};
  </script>
  <script src="https://unpkg.com/vis@4.17.0/dist/vis.min.js"></script>
  <script src="/static/scripts/network-monitor.js"></script>

{% endblock %}
