{% extends "base/dashboard.html" %}
{% block stylesheets %}
    <script src="https://use.fontawesome.com/ffb1fe552d.js"></script>
    <link href="{{ url_for('static', filename='vis@4.17.0/dist/vis-network.min.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <div id="monitor-wrapper" class="d-flex justify-content-between align-items-stretch">
        <main class="flex-fill">
            <div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
                    <div class="form-group">
                        <label for="sortBy">Sort networks by</label>
                        <div class="input-group mb-3">
                            <select class="form-control" id="sortBy">
                                <option value="network_id">Network ID</option>
                                <option value="n_pending_infos">Number of pending infos</option>
                                <option value="n_completed_infos">Number of completed infos</option>
                                <option value="n_failed_infos">Number of failed infos</option>
                                <option value="n_alive_nodes">Number of completed nodes</option>
                                <option value="n_failed_nodes">Number of failed nodes</option>
                            </select>
                            <div class="input-group-append">
                                <div class="btn-group btn-group-toggle" id="order" data-toggle="buttons">

                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="options" checked>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                        </svg>
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                        </svg>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                <div id="search-container" class="mx-auto row">
                    <div class="form-group pr-3">
                        <label for="max-networks">Number of networks</label>
                        <input type="number" min="1" class="form-control" id="max-networks"
                               placeholder="Networks to print">
                    </div>
                    <div class="form-group">
                        <label for="search">Freetext search</label>
                        <input type="text" class="form-control" id="search" placeholder="Search networks">
                    </div>
                </div>
                <div>
                    <div class="form-group">

                        <label></label>
                        <div>
                            <a class="text-primary" data-toggle="collapse" href="#statistics" role="button"
                               aria-expanded="false" aria-controls="statistics">
                                Experiment Statistics
                            </a>
                            <a class="text-secondary" data-toggle="collapse" href="#advanced-filter"
                               role="button" aria-expanded="false" aria-controls="advanced-filter">
                                Advanced Filter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse p-3 bg-light" id="statistics">
                <h4>Statistics</h4>
                <div class="row">
                    {% for pane in panes %}
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ pane }}</h5>
                                    <p class="card-text">{{ panes[pane]|safe }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="collapse p-3  bg-light" id="advanced-filter">
            <h4>Advanced Filter</h4>
                <form>
                    {% if net_roles|length > 1 %}
                        <fieldset id="network-roles">
                            <legend>Network Roles</legend>
                            {% for val, count in net_roles %}
                                <div class="field">
                                    <input id="val-{{ val }}" type="checkbox" name="network_roles"
                                           value="{{ val }}" {{ "checked" if (not request.args.get("network_roles") or val in request.args.getlist("network_roles")) else "" }} />
                                    <label for="val-{{ val }}">{{ val }} (count: {{ count }})</label>
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% endif %}
                        <fieldset id="network-ids">
                            <h5>Network IDs</h5>
                            {% for val in net_ids %}
                                <div class="field p-1">
                                    <input class="network-input" id="val-{{ val }}" type="checkbox" name="network_ids"
                                           value="{{ val }}" {{ "checked" if (not request.args.get("network_ids") or val|string in request.args.getlist("network_ids")) else "" }} />
                                    <label for="val-{{ val }}">{{ val }}</label>
                                </div>
                            {% endfor %}
                        </fieldset>
                </form>
                <form method="GET">

                    <div class="reload-onclick">
                        <input name="collapsed"
                               type="checkbox" {{ "checked" if request.args.get("collapsed") else "" }}/>
                        <label for="transformations">Collapse (networks and sources only)</label>
                    </div>
                    <div class="reload-onclick">
                        <input name="transformations"
                               type="checkbox" {{ "checked" if request.args.get("transformations") else "" }}/>
                        <label for="transformations">Show transformations</label>
                    </div>
                </form>
            </div>

            <section id="mynetwork">
            </section>
            <section id="details-pane">
                <div id="element-details">
                </div>
            </section>
        </main>
    </div>
{% endblock %}
{% block libs %}
    {{ super() }}
    <script>
        $('.reload-onclick').on('change', function () {
            $(this).parents('form').submit();
        });
        window.templateGlobals = function () {
            // Values inscribed by Jinja2 when this template is rendered.
            const network_structure = {{ network_structure | safe }};
            const vis_options = {{ vis_options | safe }};
            return {
                network_structure: network_structure,
                vis_options: vis_options
            };
        };
    </script>
    <script src="{{ url_for('static', filename='vis@4.17.0/dist/vis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/network-monitor.js') }}"></script>

{% endblock %}
