<!doctype html>
<html>
    <head>
        <script src="/static/scripts/store+json2.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"></script>
        <script src="/static/scripts/reconnecting-websocket.js"></script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"></script>
        <script src="/static/scripts/experiment.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/dallinger.css">
    </head>
    <body>
        <div class="main_div">
            <p>This is a multiplayer experiment and so you must wait for the other players to join.</p>
            <br>
            <p>Note: if you get stuck here for a long time, say, more than 10 minutes, it probably means other participants weren't available. Return the HIT and send us a message at dallinger-admin@lists.berkeley.edu with your worker ID --- we'll verify your participation and compensate you.</p>
            <br>
            <div class="col-md-4">
                <div class="progress progress-striped active">
                  <div id="waiting-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span id="progress-percentage">0%</span></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // wait for participant to be created and quorum to be reached
            create_participant().done(function () {
                allow_exit();
                if (skip_experiment) {
                    $('.main_div').html('<p>The experiment has exceeded the maximum number of participants, your participation is not required. Click the button below to complete the HIT. You will be compensated as if you had completed the task.</p><button type="button" class="button btn-success">Complete</button>')
                    $('.main_div button').on('click', submit_assignment);
                } else {
                    go_to_page("exp");
                }
            });
        </script>
    </body>
</html>
