{% extends "base/consent.html" %}

{% block consent_text %}
    <small>
    <p>This research is being conducted by XXXX, a postdoctoral research fellow, and XXXX, a faculty member, at XXXX. This study takes 10 minutes.</p>
    <p>If you agree to take part in the research, you will complete a study that involves reading some text, remembering it as well as you can, and then answering some questions about it. All of the information we obtain during the research will be kept confidential, and not associated with your name in any way, however, while the study is running it will be associated with your MTurk worker id. Once the study is complete we will replace your worker id with a random string.</p>
    <p>Your participation in this research is voluntary. You are free to refuse to take part, and you may stop taking part at any time. You are free to discontinue participation in this study at any time with no penalty.</p>
    <p>If you have any questions about this research, do not hesitate to contact XXXX at XXXX. If you have any questions about your rights or treatment as a participant in this research project, please contact XXXX's XXXX at XXXXX or XXXX@XXXX.edu.</p>
    <p>By consenting to participate, you acknowledge that you are 18 years or older, have read this consent form, agree to its contents, and agree to take part in this research. If you do not wish to consent, close this page and return the HIT on Mechanical Turk.</p>
    <button type="button" id="print-consent" class="btn btn-default btn-sm">Print a copy of this</button>
    </small>
{% endblock consent_text %}

{% block consent_button %}
    <button type="button" id="consent" class="btn btn-primary btn-lg">I agree</button>
{% endblock %}
{% block reject_button %}
    <button type="button" id="no-consent" class="btn btn-danger btn-lg">No thanks (exit HIT)</button>
{% endblock %}
