{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment, you will play the game snake. Use the arrow keys to control the snake. Try to eat all the food. Don't let the snake hit the walls or its own body.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('exp');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
