[run]
branch = True
source = dallinger
parallel = True
concurrency = gevent
omit =
    dallinger/heroku/rq_gevent_worker.py

[report]
fail_under = 61
show_missing = True
skip_covered = True
precision = 1

[paths]
source =
    dallinger
    .tox/py*/lib/python*/site-packages/dallinger
