[run]
branch = True
source = dallinger
parallel = True

[report]
fail_under = 61
show_missing = True
skip_covered = True

[paths]
source =
    dallinger
    .tox/py*/lib/python*/site-packages/dallinger
