
*.pyc
*.log
*.db
*.egg-info
/.coverage*
/coverage.xml
/cover/
*.egg-info/
*.db-journal
demos/*/data/*
demos/*/snapshots/*
docs/source/_static/*.zip
.env
.tox
/snapshots/
*-
site/*
docs/demos/*
dist/*
src/*
_build/*
docs/build
docs/source/demos
.DS_Store
README.rst
.netrc
.vagrant/
.cache/*
htmlcov/*
tests/config.py
*.ipynb_checkpoints/
.eggs/*