
*.pyc
*.log
*.db
*.egg-info
/build/
/.coverage*
/coverage.xml
/cover/
/coverage/*
*.egg-info/
*.db-journal
demos/**/data/*
demos/**/develop/*
**/snapshots/*
**/__pycache__/*
docs/source/demos
docs/source/_build/
docs/source/_static/*.zip
durations.txt
.env
.idea
.pytest_cache
.tox
.vscode
/snapshots/
*-
site/*
docs/demos/*
dist/*
src/*
_build/*
docs/build
.DS_Store
README.rst
.netrc
.vagrant/
.venv/
.cache/*
htmlcov/*
tests/config.py
*.ipynb_checkpoints/
.eggs/*
.coverage.*
node_modules/*
Gemfile.lock
.python-version
.ruby-version
package-lock.json
pip-selfcheck.json

# Tests will generate these two files. They're not supposed to be committed
# but files mentioned here are not copied over when preparing the experiment
# tests/experiment/constraints.txt
# tests/experiment/requirements.txt