
*.pyc
*.log
*.db
*.egg-info
/.coverage*
/coverage.xml
/cover/
*.egg-info/
*.db-journal
demos/*/data/*
**/snapshots/*
docs/source/demos
docs/source/_static/*.zip
.env
.tox
/snapshots/
*-
site/*
docs/demos/*
dist/*
src/*
_build/*
docs/build
.DS_Store
README.rst
.netrc
.vagrant/
.cache/*
htmlcov/*
tests/config.py
*.ipynb_checkpoints/
.eggs/*
.coverage.*
node_modules/*
Gemfile.lock
.ruby-version
pip-selfcheck.json
