-r requirements.txt
-c dev-constraints.txt
alabaster
bumpversion
coverage==5.1
coverage_pth
codecov
flake8
mock
pre-commit
pycodestyle
pypandoc
pytest
recommonmark
sphinxcontrib-spelling
Sphinx
tox
sphinx-js
sphinx_rtd_theme