alabaster==0.7.9
coverage==4.4.2
coverage_pth==0.0.1
codecov==2.0.10
flake8==3.5.0
mock==2.0.0
pypandoc==1.4
pytest==3.3.1
recommonmark==0.4.0
sphinxcontrib-spelling==4.0.1
Sphinx==1.6.5
tox==2.9.1
-r requirements.txt
