recursive-include dallinger *
recursive-include dallinger_scripts *
recursive-include docs *

include requirements.txt
include dev-requirements.txt
include constraints.txt
include README.md
include LICENSE
include incubator.png

prune *.pyc
