recursive-include dallinger *
recursive-include dallinger_scripts *
recursive-include docs *

include pyproject.toml
include uv.lock
include README.md
include LICENSE
include incubator.png

prune *.pyc
