recursive-include dallinger *
recursive-include docs *

include requirements.txt
include dev-requirements.txt
include constraints.txt
include setup_utils.py
include README.md
include LICENSE
include incubator.jpg

prune *.pyc
