APScheduler==3.3.0
boto==2.15.0
click==6.6
future==0.16.0
gunicorn==18.0
localconfig==0.4.2
pexpect==4.2.1
-e git://github.com/Dallinger/psiTurk.git@dallinger2#egg=psiturk
psycopg2==2.6.2
redis==2.10.5
requests==2.2.1
rq==0.7.1
SQLAlchemy==1.1.4
user-agents==0.2.0
