APScheduler==3.3.1
boto==2.15.0
cached-property==1.3.0
click==6.7
Flask==0.10.1
future==0.16.0
gunicorn==18.0
localconfig==0.4.2
pexpect==4.2.1
psycopg2==2.7.1
redis==2.10.5
requests==2.13.0
rq==0.7.1
selenium==3.3.1
SQLAlchemy==1.1.6
tablib==0.11.4
ua-parser==0.3.6
user-agents==0.2.0
