{% extends "base/ad.html" %}

<!--
    The ad.html has a very specific format.

    Really there are two "ads" contained within this file.

    The first ad displays to participants who are browsing
    the Amazon Mechanical Turk site but have not yet accepted
    your hit.

    The second part of the ad display after the person selected
    "Accept HIT" on the Amazon website.  This will reload the
    ad and will display a button which, when clicked, will pop
    open a new browser window pointed at your local experiment
    server (assuming it is running and accessible to the Internet).

    See comments throughout for hints

-->
