{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <div id="response-form" style="display:none;">
            <h1>Draw a sheep facing to the left:</h1>
            <div id="editor" width="300px" style="border: 1px solid #cccccc;"></div>
            <canvas id="canvas" width="300px" height="300px"></canvas>
            <p></p>
            <button id="submit-response" type="button" class="btn btn-primary" onClick="submit_response();">Submit response.</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    <script src="/static/scripts/raphael-min.js" type="text/javascript"> </script>
    <script src="/static/scripts/raphael.sketchpad.min.js" type="text/javascript"> </script>
    <script type="text/javascript" src="/static/scripts/rgbcolor.min.js"></script>
    <script type="text/javascript" src="/static/scripts/StackBlur.min.js"></script>
    <script type="text/javascript" src="/static/scripts/canvg.min.js"></script>
    <script>
        create_agent();
    </script>
{% endblock %}
