{% extends "base/layout.html" %}

{% block head %}
    <meta charset="utf-8">
    <link rel="Favicon" href="/static/favicon.ico" />
{% endblock %}

{% block libs %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/markdown.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/spin.min.js" type="text/javascript"></script>
    <script src="/static/scripts/dallinger2.js" type="text/javascript"> </script>
{% endblock %}
