{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <p>Chat log:</p>
        <div id="stimulus">
            <div><blockquote id="story"></blockquote></div>
        </div>
        <div id="response-form" style="display:none;">
            <input type="text" id="reproduction" class="form-control" />
            <p></p>
            <button id="send-message" type="button" class="btn btn-primary">Send.</button>
            <button id="leave-chat" type="button" class="btn">Leave chat.</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
    </script>
{% endblock %}
