<!doctype html>
<html>
    <head>
        <title>Psychology Experiment</title>
        <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/scripts/raphael-min.js" type="text/javascript"> </script>
        <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    </head>

    <div class="right_div">
        <p class="trial_info_text">Round <span id="trial-number">0</span> of <span id="total-trial-number"></span></p>
        <p class="trial_info_text"><span id="practice-trial">This is a practice trial</span></p>
    </div>
    <div class="center_div">
        <p class="trial_text" id="instructions">Are there more blue or yellow dots?</p>
        <br>
        <button id="more-blue" type="button" class="button">Blue</button>
        <button id="more-yellow" type="button" class="button">Yellow</button>
        <br>
        <img id="stimulus" class="stimulus_image" width="500" alt=""/>
	</div>
    <script type="text/javascript">
        create_agent();
    </script>
</html>
