<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <p>In the second half of the game, you will be tested. This part is exactly like the training, except you will not get to see the correct answer. On each round, the blue bar will appear, and you should adjust the size of the red bar accordingly. Click to enter your response, and then press the space bar to move on to the next round.</p>

    <img id="both-bars" src="/static/images/both-bars.jpg" width="200px" alt="Both bars" />

    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>


    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
