<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
        <script src="/static/scripts/store+json2.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/jquery-min.js" type="text/javascript"> </script>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
        <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    </head>
    <body>
        <div class="main_div">
            <h1>Instructions</h1>
            <hr>
            <p>In this experiment, you will play a version of the party game "Mafia".</p> 
             <h4> If you have never played a variation of the game "Mafia" before, we request that
                you please do not accept this HIT. </h4>
                <div class="row question">
                  <div class="col-md-8">
                    How many times have you played any version of Mafia?
                  </div>
                  <div class="col-md-4">
                    <select id="expertise" name="expertise">
                      <option value="0">Never</option>
                      <option value="1">1-2 times</option>
                      <option value="2">3-10 times</option>
                      <option value="3">More than 10 times</option>
                    </select>
                  </div>
                </div>
                <p>...</p>
                <p> In this game, you are either part of the Mafia (you are a Mafioso) or you are a Bystander. If you are a Mafioso, your goal is to kill off the Bystanders, until the Mafia outnumber the Bystanders. If you are a Bystander, you goal is to kill off the Mafiosos before they win. There will be one or more Mafiosos-- the Mafiosos will know who is in the Mafia, but the Bystanders will not. There will always initially be more Bystanders than Mafiosos. Everyone will be assigned a fake name in order to refer to each other. </p>
                <p> There are two phases to this game. In the <b>nighttime</b>, the Mafiosos will converse and decide who they want to kill. Specifically, if you are a Mafioso, you will talk in a chatroom, then use a dropdown menu to select who you want to kill. Mafiosos will have 30 seconds to do this. If there is more than one Mafioso and the Mafiosos disagree about who to kill, one of the Mafiosos' choices will be selected randomly. If you are a Bystander, you will wait out this time, as you are sleeping during the night. </p>
                <p> Everyone will then wake up for the <b>daytime</b>. The participant who was killed during the night will be announced: if you were eliminated, you will be sent to the end of the game and compensated. Everyone else will have 2 minutes and 30 seconds to discuss who they want to kill, where the goal is to kill off the Mafia. By the end of this time, everyone who wishes to vote needs to select a name from the dropdown menu. (If there are multiple Mafiosos, the Mafiosos will be reminded of each others' names in separate text on this page.) The participant with the most votes will be eliminated, except in the case of a tie, in which a randomly-selected vote will be eliminated. The eliminated participant will be announced, and that participant will be sent to the end of the game and compensated.</p>
                <p> The game will continue, alternating between nighttime and daytime, until either all of the Mafia are killed (<i>Bystanders win!</i>) or the Mafia outnumber the Bystanders (<i>Mafia win!</i>)</p> 
                <p><i>Ready?</i> You will now be directed to a waiting room. The game will begin once all participants have arrived. However, if you get stuck in this waiting room for more than 10 minutes, please return the HIT and email mgates@berkeley.edu for compensation.</p>
              <br>
            <hr>
            <div>
                <div class="row">
                    <div class="col-xs-10"></div>
                    <div class="col-xs-2">
                        <button type="button" id="go-to-waiting-room" class="btn btn-success btn-lg">Begin</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
