version: '3.7'
services:
  postgresql:
    image: postgres:12
    environment:
      POSTGRES_USER: dallinger
      POSTGRES_PASSWORD: dallinger
      POSTGRES_DB: dallinger
    volumes:
      - dallinger_pg_data:/var/lib/postgresql/data
    ports:
      # bots might need to communicate with postgresql
      - "5432:5432"
  redis:
    image: redis
    command: redis-server --appendonly yes
    volumes:
      - dallinger_redis_data:/data
      # bots might need to communicate with redis
    ports:
      - "6379:6379"
  worker:
    image: {{ experiment_name }}-worker
    build: 
      context: .
      dockerfile: ./Dockerfile.worker
    volumes:
{%- for volumestr in volumes %}
      - "{{ volumestr }}"
{%- endfor %}
    environment: &commonenv
      REDIS_URL: redis://redis:6379
      DATABASE_URL: postgresql://dallinger:dallinger@postgresql/dallinger
      FLASK_SECRET_KEY: DO_NOT_USE_IN_PRODUCTION
  web:
    image: {{ experiment_name }}-web
    build: 
      context: .
      dockerfile: ./Dockerfile.web
{%- if volumes %}
    volumes:
{%- endif %}
{%- for volumestr in volumes %}
      - "{{ volumestr }}"
{%- endfor %}
    environment:
      <<: *commonenv
      PORT: 5000
    ports:
      - "5000:5000"

volumes:
  dallinger_pg_data:
  dallinger_redis_data: