{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>
        <hr>
        <p>You will be paired with one other player. Anything you send goes straight to them, and anything they send arrives here.</p>
        <p>Click "Finish" when you are done.</p>
        <hr>
        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" id="go-to-waiting-room" class="btn btn-success btn-lg">Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
