<head>
    <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
    <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
</head>


<script>
    create_participant();
</script>

<h1>Instructions</h1>

<hr>

<p>In this experiment, you will estimate several quantities. You will use only your own knowledge about the world and are not permitted to use outside sources of information.</p>

<hr>

<div>
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button type="button" class="button" onClick="allow_exit();go_to_page('exp');">
            Begin</button>
        </div>
    </div>
</div>
