{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>
            There are {{ experiment.experiment_repeats }} rounds in total.
            {% if experiment.practice_repeats %}The first {{ experiment.practice_repeats }} are practice rounds.{% endif %}
            {% if experiment.bonus_payment %}Depending on how many rounds you get right, you can earn a bonus of up to ${{ '{:.2f}'.format(experiment.bonus_payment) }}.{% endif %}
            {% if experiment.practice_repeats %}The practice rounds will not affect your bonus.{% endif %}
        </p>

        <p>Each round is different from the others - just because there were more blue dots on one round does not mean there will be more on the next round.</p>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('stage');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
