<!doctype html>
<html>
    <head>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
        <link rel="stylesheet" type="text/css" href="static/css/dallinger.css">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/raphael-min.js" type="text/javascript"> </script>
        <script src="/static/scripts/mousetrap.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/mousetrapExtension-pause.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/helpers.js" type="text/javascript"> </script>
		<script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    </head>
    <body>
        <p>Trial <span id="trial-number">1</span> of <span id="total-trials">N</span> &mdash; <span id="training-or-testing">Training</span>. Press space to continue.</p>
    </body>
    <script>
        create_agent();
    </script>
</html>
