{% extends "layout.html" %}

{% block stylesheets %}
    <style>
        body {
            padding:0px;
            margin: 0px;
            background-color: white;
            color: black;
            font-weight: 300;
            font-size: 13pt;
        }
        #adlogo {
            float: right;
            width: 140px;
            padding: 2px;
            border: none;
        }
        #completion {
            position: absolute;
            top: 0px; /* Header Height */
            bottom: 0px; /* Footer Height */
            left: 0px;
            right: 0px;
            padding: 100px;
            padding-top: 5%;
            border: 18px solid #f3f3f3;
            background: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="completion">
        <div class="row">
            <div class="col-xs-2">
                <img id="adlogo" src="/static/images/logo.png" alt="Lab Logo" />
            </div>
            <div class="col-xs-10">
                <h1>Experiment session complete!</h1>
                <p>Thank you again for participating.</p>
            </div>
            <div class="col-xs-12">
                <h2>MTurk HIT Completion Example</h2>
                <p>To close this window and submit your MTurk HIT, click this button:</p>
                <button type="button"
                        class="btn btn-primary"
                        onclick="returnToHITWindow()">Complete HIT</button>
                <br><br>
                <h2>Self-hosted/Mystery Recruiter Example</h2>
                <p>Your proof-of-completion code is:
                    <code id="proof-of-completion">12345abcde</code>
                </p>
                <button class="copy-button btn btn-primary"
                        data-clipboard-target="#proof-of-completion"
                        data-toggle="popover">Copy to clipboard</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block libs %}
<script src="/static/scripts/jquery-3.5.1.min.js"></script>
<script src="/static/scripts/popper.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>
<script src="/static/scripts/clipboard.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        function returnToHITWindow() {
            console.log("Clicked");
            window.opener.location.reload(true);
            window.close();
        }

        clipboard = new ClipboardJS('.copy-button');
        $('[data-toggle="popover"]').popover({content: "Proof-of-completion copied to clipboard!"});
    </script>
{% endblock %}
