body {
    font-size: 20px;
    font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
}

div.body p, div.body dd, div.body li {
    line-height: 1.6em;
}

code {
    font-size: 14px;
}

.highlight {
    font-size: 18px;
}

tt, code {
    padding: 4px 5px 1px 5px;
}

@media screen and (max-width: 875px) {
    div .sphinxsidebar {
        background: #3e4349;
    }
}

tt.xref, code.xref, a tt {
    background-color: #ecf0f3;
    padding: 4px 5px 1px 5px;
}

pre {
    background: #ecf0f3;
}

.injected {
    display: none;
}

@font-face {
  font-family:'AvenirLTStd-Book';
  src: url('AvenirLTStd-Book_gdi.eot');
  src: url('AvenirLTStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
    url('AvenirLTStd-Book_gdi.woff') format('woff'),
    url('AvenirLTStd-Book_gdi.ttf') format('truetype'),
    url('AvenirLTStd-Book_gdi.svg#AvenirLTStd-Book') format('svg');
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

div.body h1 {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

div.body h2 {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
}

div.body h3 {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

div.sphinxsidebar h3 {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
}

div.sphinxsidebar h4 {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
}

div.sphinxsidebar input {
  font-family: AvenirLTStd-Book, Avenir, Avenir Book, Helvetica, Arial, sans-serif;
}

a.reference {
    text-decoration: none;
    border-bottom: 1px solid #64d2e9;
}

a.reference:hover {
    text-decoration: none;
    color: #64d2e9;
    border-bottom: 1px solid #f5861e;
}

.caption {
   font-weight: bold;
}

#searchbox h3 {
    font-size: 14px;
    margin-bottom: -10px;
}
