<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{title}} - {{app_id}} Dashboard{% endblock %}</title>
        {% block replace_stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          {% block stylesheets %}
          {% endblock %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
      <div class="container">
        {% block navigation %}
          <nav id="dashboard-navigation">
            <ul class="nav nav-pills">
              {% for tab_title, route in config.get('dashboard_tabs',()) %}
                <li class="nav-item{{ route == request.endpoint and ' active' or ''}}">
                  <a class="nav-link" href="{{ url_for(route) }}">{{ tab_title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endblock %}
        {% block messages %}
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
              {% endfor %}
          {% endif %}
        {% endwith %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        <footer>
          {% block footer %}
          <a class="btn logout" href="{{ url_for('dashboard.logout') }}">Logout</a>
          {% endblock %}
        </footer>
      </div>
    </body>
</html>