<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
        <script src="/static/scripts/store+json2.min.js" type="text/javascript"> </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
        <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    </head>
    <body>
        <h1>Instructions</h1>
        <hr>
        <p>In this experiment, you will be able to broadcast messages to some other players in the game. Some of them will be able to broadcast messages to you. At the end of the game, you will be asked to select "blue" or "yellow". Your goal, as a group, is to all select the same answer. The more people who select the same answer as you, the greater your bonus.</p>
        <p>The chat session will last for 5 minutes.</p>
        <hr>
        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" id="go-to-waiting-room" class="btn btn-success btn-lg">Begin</button>
                </div>
            </div>
        </div>
    </body>
</html>
