<!doctype html>
<html>
    <head>
        <script src="/static/scripts/store+json2.min.js" type="text/javascript"> </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
        <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
        <link rel="stylesheet" type="text/css" href="static/css/dallinger.css">
    </head>
    <body>
        <p>This is a multiplayer experiment and so you must wait for the other players to join.</p>
        <div class="col-md-4">
            <div class="progress progress-striped active">
              <div id="waiting-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span id="progress-percentage">0%</span></div>
            </div>
        </div>
        <script>
            create_participant();
            getQuorum();
            waitForQuorum();
        </script>
    </body>
</html>
