# This file pretends to pin dallinger dependencies to a specific version
# This is useful for testing and development, since this experiment is
# used in tests, and it needs to use the version of dallinger currently installed.
# dallinger==current_version

dallinger

# generate from file with hash  d0bfb8e6474319a7832980a687befbb2
