alabaster==0.7.9
coverage==4.4.1
coverage_pth==0.0.1
codecov==2.0.9
flake8==3.2.1
pypandoc==1.3.3
pytest==3.2.1
recommonmark==0.4.0
Sphinx==1.6.3
sphinxcontrib-spelling==2.3.0
tox==2.9.0
-r requirements.txt
