{% extends "layout.html" %}

{% block body %}
    <div class="main_div">

        <h1>Instructions</h1>

        <hr>

        <p>At the end of the experiment, you will be asked to describe what you learned about how the sizes of the two bars relate.</p>
        <p>Click below to start the experiment</p>

        <hr>

        <div class="row">
            <div class="col-xs-2">
            <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-3');">
                Back</button>
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('exp');">
                Begin</button>
            </div>
        </div>
    </div>
{% endblock %}
