{% extends "layout.html" %}

{% block body %}
    <div class="main_div">

        <h1>Instructions</h1>

        <hr>

        <p>In the second half of the game, you will be tested. This part is exactly like the training, except you will not get to see the correct answer. On each round, the blue bar will appear, and you should adjust the size of the red bar accordingly. Click to enter your response, and then press the space bar to move on to the next round.</p>

        <img id="both-bars" src="{{ url_for('static', filename='images/both-bars.jpg') }}" width="200px" alt="Both bars" />

        <hr>

        <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-2');" style="float: left;">Back
        </button>
        <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-ready');" style="float: right;">Next
        </button>

    </div>
{% endblock %}
